<div class="slant-menu">
	
		<div class="menu">
			<a href=""><span class="menu-link">testfgd  sdfg <span class="slant"></span></span></a>
			<a href=""><span class="menu-link">testsdfg <span class="slant"></span></span></a>
			<a href=""><span class="menu-link">tessdfsdfgt <span class="slant"></span></span></a>
			<a href=""><span class="menu-link">tessdfgsdfgt <span class="slant"></span></span></a>
			<a href=""><span class="menu-link">tessdfgsdfgt <span class="slant"></span></span></a>
			<a href=""><span class="menu-link">tesdfgst <span class="slant"></span></span></a>
			<a href=""><span class="menu-link">tesdfgst <span class="slant"></span></span></a>
		</div>
</div>