*, 
*:before, 
*:after { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
 }
 html{
 	font-size:62.5%; 
		  /*
		 set font size to this percentage so we can use rems more easily
		  EXAMPLE 
			font-size: 1.4rem;  this is equal to 14px
			font-size: 2.4rem;  this is equal to 24px
		  */
		 }

 html, body {
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: visible;
		font-family:  sans-serif;
		 font-weight: 400;
		background-color: rgb(46, 76, 126);
		
}
body {
	font-size: 16px; 
	font-size: 1.6rem;
	//color: #fff;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans', sans-serif;
	clear-day
	clear-night
	&.rain {

	}
	&.snow {
		
	}
	&.sleet {
		
	}
	&.wind {
		
	}
	&.fog {
		
	}
	&.cloudy {
		
	}
	&.partly-cloudy-day {
		
	}
	&.partly-cloudy-night {
		
	}
}

header {
	@include clearfix;
	max-width: 1541px;
	margin: 0 auto;
	padding: 20px;
	@media (max-width: 440px) {
		text-align: center;	
			
	}
}
