.search {
	display: inline-block;
	float: right;
	@media (max-width: 440px) {
		float: none;
		display: block;
		text-align:center;
		margin-top: 20px;
	}
	button {
		background:#0099ff;
		color:#fff;
		font: 'trebuchet ms', trebuchet;
		padding:10px 20px;
		border-radius:0 10px 10px 0;
		-moz-border-radius:0 10px 10px 0;
		-webkit-border-radius:0 10px 10px 0;
		-o-border-radius:0 10px 10px 0;
		border:0 none;
		font-weight:bold;
	}

	input {
		background: #eee;
		padding:10px;
		border-radius:10px 0 0 10px;
		-moz-border-radius:10px 0 0 10px;
		-webkit-border-radius:10px 0 0 10px;
		-o-border-radius:10px 0 0 10px;
		border:0 none;
		width:160px;
	}
}

