<meta name="description" content="NORFOLK Weather.">
<meta property="og:url" content="http://lloveras.info/norfolk/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NORFOLK Weather." />
<meta property="og:description" content="NORFOLK Weather." />
<meta property="og:image" content="http://lloveras.info/norfolk/assets/toolkit/images/social.png" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@robll">
<meta name="twitter:title" content="NORFOLK Weather">
<meta name="twitter:description" content="NORFOLK Weather.">
<meta name="twitter:image:src" content="http://lloveras.info/norfolk/assets/toolkit/images/social.png">