.button-examples{
	// adding a dark background so we can see all buttons
	background-color: #ccc;
}



.btn,button{
	font-size: 14px;
	line-height: 1;

	position: relative;

	display: inline-block;

	margin: 5px 0;
	padding: 12px 25px ;
	color: black;

	-moz-user-select: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: 'source_sans_probold';
	border: none;
	background-color: #fff;
	background-image: none;
	transition: background-color .3s ease 0s;
	overflow: hidden;
	text-decoration: none;

	&:hover{
		text-decoration: none;
	}
	
	&-centered{
		margin: 10px auto;
		display: block;
		max-width: 240px;
		text-align: center;

	}
	&-right-align{
		float: right;
		clear: all;
	}
		&-left-align{
		float: float;
		clear: all;
	}
	&-solid{
		color: #fff;
		background-color: $button-base-color;
		&:hover{
			background-color: darken($button-base-color,10%);
		}
	}
	&-ghost{
		color: #fff;
		border: 2px solid #fff;
		background-color: transparent;
		&:hover {
			transition: .2s ease;
			color: #fff;
			background-color: #787878;
		}
		
	}




}