<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	{{> social-meta}}
	<title>{{title}}</title>	
	<script src="https://use.fontawesome.com/8a9c147a53.js"></script>
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css" />
	<script src="./{{baseurl}}/assets/toolkit/scripts/vendor/modernizr-custom.js"></script>
	<script src="./{{baseurl}}/assets/toolkit/scripts/vendor/skycons.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />
</head>
<body>
	{% body %}
	<!-- toolkit scripts -->
	<script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->
</body>
</html>